.home {
    &__background {
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        opacity: 0.8;
        top: 0;
        left: 0;
    }

    .body {
        position: relative;
        color: $blend-color;
        font-weight: 300;
    }

    &__title {
        margin: 119px 0;
    }

    &__body {
        width: 100%;
        opacity: 1;
        letter-spacing: 2px;
    }

    &__main-title {
        font-weight: 700;
        font-size: 6em;
        opacity: 0;
        letter-spacing: 0.5px;
        font-family: 'Cardo', serif;
        mix-blend-mode: $blend-mode;
    }

    &__sub-title {
        font-size: 1.1em;
        mix-blend-mode: $blend-mode;
    }

    &__description {
        font-weight: 700;
        font-size: 2em;
        opacity: 0;
        letter-spacing: 0.5px;
        font-family: 'Cardo', serif;
        mix-blend-mode: $blend-mode;
    }

    &__about-me {
        font-size: 1.3em;
        font-weight: 400;

        div {
            mix-blend-mode: $blend-mode;
        }

        a {}
    }
  }


@media (max-width: 720px) {
    .home {
        .section {
            &__main-title {
                font-size: 3.0em;
            }

            .card-info,
            .card-title,
            .card-type {
                position: relative;
                text-align: left;
                display: none;
            }

            .card-img {
                margin: 0;
                width: 100%;
            }
        }
    }
}
