.home {
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;

  section {
    float: left;
  }

  &__background {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    width: 100%;
  }

  .body {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    bottom: 0;
    top: 0;
    font-weight: 300;
    color: #5a00ff;
  }

  &__title {
    bottom: 0;
    top: 0;
    position: relative;
    width: 100%;
    margin: 46px 0 120px 0;
    margin-bottom: 100px;
  }

  .cards {
    bottom: 0;
  }

  .sub-card-grid{
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
    float: left;
    .sub-card{
      width: 24%;
      figure.effect-roxy p {
          bottom: 40px;
      }
    }
  }

  &__body {
    width: 100%;
    letter-spacing: 2px;
  }

  &__main-title {
    font-weight: 700;
    font-size: 7.5em;
    letter-spacing: 0.5px;
    font-family: 'Cardo', serif;
    mix-blend-mode: $blend-mode;
    width: 60%;
    color: $blend-color;
    padding-top: 60px;
    width:60%;
    float:left;
  }

  &__sub-title {
    font-size: 1.1em;
    mix-blend-mode: $blend-mode;
    color: $blend-color;
  }

  &__description {
    font-weight: 700;
    font-size: 1.4em;
    letter-spacing: 0.5px;
    font-family: 'Cardo', serif;
    mix-blend-mode: difference;
    color: $blend-color;
    margin-top: 210px;
    padding-left: 2%;
    width: 36%;
    float: left;
    line-height: 1.4;
    border-left: 2px solid $blend-color;
  }

  &__about-me {
    font-size: 1.3em;
    font-weight: 400;

    div {
      mix-blend-mode: $blend-mode;
    }
  }
  @media (max-width: 960px) {
    video {
      display: none;
    }

    .home__title{
      margin: 46px 0 120px 0;
      height: auto;
    }

    .home__main-title {
      color: $blue;
      mix-blend-mode: unset;
      font-size: 3.5em;
    }

    .home__sub-title {
      color: $blue;
      mix-blend-mode: unset;
    }

    .home__description {
      color: $blue;
      mix-blend-mode: unset;
    }
  }
}
