.nav {
    position: absolute;
    top: 0;
    height: 20px;
    padding: 15px 0;
    width: 100%;
    z-index: 1;
    font-size: 1em;
    font-family: $font-sans;
    font-weight: 300;

    a {
        color: $dark-grey;
    }

    &__logo {
        position: absolute;
        left: 0;
    }

    &__menu {
        position: absolute;
        right: 0;

        a {
            margin-left: 10px;
        }
    }
}
