@import './base/index';
@import './layout/index';
@import './module/index';
@import './state/index';
@import './grid/skeleton';

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  margin: 10px;
  font-size:1.3em;
}

.section{
  width:100%;
  position: relative;
  // .container{
  //   max-width: 960px;
  //   margin-left: auto;
  //   margin-right: auto;
  //   padding-left: 1.66667rem;
  //   padding-right: 1.66667rem;
  // }
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: cover;
}

.vrview {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &__toggle {
        position: absolute;
        bottom: 60px;
        right: 20px;
    }
}

  .hidden{
    display: none;
    opacity: 0;
  }

.fullscreen-video {
  @include fullscreen;
  z-index: 5;
  opacity: 1;

  &__controls {
    opacity: 0;
    transition: opacity 0.8s $ease-out-quint;
  }

  a:hover {
    opacity: 0.3;
    transition: opacity 0.8s $ease-out-quint;
    cursor: pointer;
  }

  &__play {
    position: absolute;
    left: 45%;
    top: 44%;
    display: none;
  }

  &__pause {
    position: absolute;
    left: 45%;
    top: 44%;
  }

  &__mute {
    position: absolute;
    right: 40px;
    bottom: 40px;
  }

  &__sound {
    position: absolute;
    right: 40px;
    bottom: 40px;
    display: none;
  }

  img {
    width: 60px;
  }

  video {
    @include fullscreen;
  }
}

.intro:hover .intro__controls {
  opacity: 0.9;
  transition: opacity 0.8s $ease-out-quint,;
}
@media screen and (max-device-width: 800px) {
  html {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }

  #bgvid {
    display: none;
  }
}
